<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ionic Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tomar foto del frente de tu DNI</h1>

  <div id="cameraPreview" class="cameraPreview">
    <div *ngIf="cameraActive">
      <img src="../../../assets/marco-foco.png" class="image-overlay">
   
      <ion-button (click)="stopCamera()" expand="block" id="close">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="captureImage()" expand="block" id="capture">
          <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button (click)="flipCamera()" expand="block" id="flip">
        <ion-icon name="camera-reverse-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>

  <h3 style="margin-top: 30px;">Coloque su DNI Frente dentro del recuadro. Verifique que sea legible, tenga buena luz y no tenga sombras</h3>

  <ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>

  <ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive">Open Camera</ion-button>

  <ion-button (click)="captureImage()" expand="full" *ngIf="cameraActive">Tomar Foto</ion-button>
  <ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive">Volver a tomar foto</ion-button>
  <ion-button (click)="savelmage()" expand="full" *ngIf="image">Listo</ion-button>
</ion-content>
